* {
  font-family: 'Press Start 2P', cursive;
}

.container {
  width: 98%;
}

nav {
  background-color: crimson;
}

/* sticky footer styling */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/* sticky footer styling */

.collection-item:hover {
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 15px;
}

#pokemonList, #rightCol {
  height: 450px;
  overflow: auto;  
}

.MiddleColButtons {
  background-color: crimson;
  color: white;
  border-radius: 15px;
}

.MiddleColButtons:hover {
  background-color: rgb(158, 14, 43); 
}

/* scrollbar styling
_________________________________________________________ */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #3b4cca;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}
/* ______________________________________________________ */


/* modal styling
_________________________________________________________*/

.modal h4 {
  color: black;
}

#chartImage {
  width: 100%;
  height: 400px;
}

