.container {
  width: 98%;
}

/* sticky footer styling */
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} */
/* sticky footer styling */

.collection-item:hover {
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 15px;
}

nav {
  background-color: rgb(255, 0, 0)
}

nav .brand-logo {
  padding-top: 5px;
  padding-left: 10px;
}

/* .page-footer {
  background-color: rgb(59, 76, 202);

} */

