.container {
  width: 98%;
}

/* sticky footer styling */
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} */
/* sticky footer styling */

.collection-item:hover {
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 15px;
}

#pokemonList {
  height: 400px;
  overflow: auto;  
}
